body {
  background-color: #1098F7;
}

h1 {text-shadow: 9px 9px 10px #40376E;
  color: #96ACB7;
  text-align: center;
  font-size: 60px
}

h3{text-align: center;
  text-shadow: 8px 8px 10px #40376E;
  color: #96ACB7;
  font-weight: bold;
  font-size: 40px
}

p{text-shadow: 8px 8px 10px #40376E;
  color: #96ACB7;
  font-weight: bold;
  font-size: 25px  
}
  
ol {font-family: Georgia;
  list-style-type: number;
  font-weight: bold;
  text-shadow: 8px 8px 10px #40376E;
  display: inline-block;
  text-align: left;
  font-size: 25px; 
  color: #96ACB7  
}

table{
 border: dashed 2px black;
  border-style: solid;
  background-color: #40376E;
  border-collapse:collapse
}

th{border: solid 3px
}

td{text-align: center;
  border: solid 3px
}

